<html xmlns:th="https://www.thymeleaf.org/">

<head th:fragment="header">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" />
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
</head>

<nav th:fragment="usermenu" class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand text-primary" href="#">HEALTH CARE(NIT-RAGHU)</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			
			
			<li class="nav-item active">
				<a class="nav-link" href="#">HOME </a>
			</li>
			
			<!--spec start-->
			<li class="nav-item dropdown active">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
					aria-expanded="false">
					SPECIALIZATION
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" th:href="@{/spec/register}">Register</a>
					<a class="dropdown-item" th:href="@{/spec/all}">All</a>
				</div>
			</li>
			<!--spec end-->
			
			
			<!--doctor start-->
			<li class="nav-item dropdown active">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
					aria-expanded="false">
					DOCTOR
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" th:href="@{/doctor/register}">Register</a>
					<a class="dropdown-item" th:href="@{/doctor/all}">All</a>
				</div>
			</li>
			<!--doctor end-->
			
			<!--appointment start-->
			<li class="nav-item dropdown active">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
					aria-expanded="false">
					APPOINMENT
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" th:href="@{/appoinment/register}">Register</a>
					<a class="dropdown-item" th:href="@{/appoinment/all}">All</a>
				</div>
			</li>
			<!--appoinment end-->
			
			
		</ul>
		
	</div>
</nav>

</html>
