<html xmlns:th="https://www.thymeleaf.org/">

	<div th:replace="fragments/commonui :: header"/>    <!--Head Section-->

	<body>
		<div th:replace="fragments/commonui :: usermenu"/>    <!--menu Section-->

		<div class="container">
			
			<div class="card">
				
				<div class="card-header bg-primary text-white text-center">
					<h3>DOCTOR DATA PAGE</h3>
				</div>
				
				<div class="card-body">
					
					<table class="table table-hover">
						<tr class="bg-info text-white">
							<th>ID</th>
							<th>NAME</th>
							<th>Image</th>
							<th>SPECIALIZATIONS</th>
							<th>EMAIL</th>
							<th>MOBILE</th>
							<th>GENDER</th>
							<th>NOTE</th>
							<th>OPERATIONS</th>
						</tr>
						<tr th:each="ob:${list}">
							<td>[[${ob.docId}]]</td>
							<td>[[${ob.docName}]]</td>
							<td><img th:src="${ob.imageUrl}" alt="doctor image" width="60%" height="60%"/></td>
							<td>[[${ob.specialization.specName}]]</td>
							<td>[[${ob.docEmail}]]</td>
							<td>[[${ob.docMobile}]]</td>
							<td>[[${ob.docGen}]]</td>
							<td>[[${ob.docNote}]]</td>
							<td>
								<a th:href="@{/doctor/delete(id=${ob.docId})}" class="btn btn-danger">DELETE</a> |
								<a th:href="@{/doctor/edit(id=${ob.docId})}" class="btn btn-warning">EDIT</a>
							</td>
						</tr>
					</table>
					
				</div>
				<!--card body end-->
				<div class="card-footer bg-light text-success" th:if="${message!=null}">
					[[${message}]]
				</div>
				<!--card footer end-->
			</div>
				<!--card  end-->
		</div>	
				<!--container end-->
	</body>
</html>
