<html xmlns:th="https://www.thymeleaf.org/">
	
	<div th:replace="fragments/commonui :: header"/>    <!--Head Section-->

	<body>
		<div th:replace="fragments/commonui :: usermenu"/>    <!--usermenu Section-->

		<div class="container">
			
			<div class="card">
				
				<div class="card-header bg-primary text-white text-center">
					<h3>DOCTOR REGISTER PAGE</h3>
				</div>
				
				<div class="card-body">
					<form th:action="@{/doctor/save}" method="POST">
						<!--row#1-->
						<div class="row">
							<div class="col-3">
								<label>DOCTOR NAME </label>
							</div>
							<div class="col-4">
								<input type="text" name="docName" id="docName" class="form-control"/>
							</div>
							<div class="col-5">
								<span id="docNameError"></span>
							</div>
						</div>
						<!--row#1-->
						<div class="row">
							<div class="col-3">
								<label>DOCTOR IMAGE </label>
							</div>
							<div class="col-4">
								<input type="file" name="fileOb" id="fileOb" onchange="uploadFile()"/>
								<input type="text" name="imageUrl" id="imageUrl" class="form-control" readonly/>

							</div>
							<div class="col-5">
								<span id="imageUrlError"></span>
							</div>
						</div>

						<!--row#2-->
						<div class="row">
							<div class="col-3">
								<label>DOCTOR EMAIL</label>
							</div>
							<div class="col-4">
								<input type="text" name="docEmail" id="docEmail" class="form-control"/>
							</div>
							<div class="col-5">
								<span id="docEmailError"></span>
							</div>
						</div>
						<!--row#integration-->
						<div class="row">
							<div class="col-3">
								<label>DOCTOR SPECIALIZATION</label>
							</div>
							<div class="col-4">
								<select id="specialization" name="specialization.specId" class="form-control">
									<option value="">--SELECT--</option>
									<option th:each="ob:${specializations}"
										th:text="${ob.value}"
										th:value="${ob.key}"
									/>
								</select>
							</div>
							<div class="col-5">
								<span id="specializationError"></span>
							</div>
						</div>

						<!--row#3-->
						<div class="row">
							<div class="col-3">
								<label>DOCTOR ADDRESS</label>
							</div>
							<div class="col-4">
								<textarea name="docAddr" id="docAddr" class="form-control"></textarea>
							</div>
							<div class="col-5">
								<span id="docAddrError"></span>
							</div>
						</div>
						
						<!--row#4-->
						<div class="row">
							<div class="col-3">
								<label>DOCTOR MOBILE</label>
							</div>
							<div class="col-4">
								<input type="text" name="docMobile" id="docMobile" class="form-control"/>
							</div>
							<div class="col-5">
								<span id="docMobileError"></span>
							</div>
						</div>
						
						<!--row#5-->
						<div class="row">
							<div class="col-3">
								<label>DOCTOR GENDER</label>
							</div>
							<div class="col-4">
								<input type="radio" name="docGen" id="docGen1" value="Male" /> Male
								<input type="radio" name="docGen" id="docGen2" value="Female" /> Female
							</div>
							<div class="col-5">
								<span id="docGenError"></span>
							</div>
						</div>
						<!--row#6-->
						<div class="row">
							<div class="col-3">
								<label>DOCTOR NOTE</label>
							</div>
							<div class="col-4">
								<textarea name="docNote" id="docNote" class="form-control"></textarea>
							</div>
							<div class="col-5">
								<span id="docNoteError"></span>
							</div>
						</div>
						<button type="submit" class="btn btn-success">Register <i class="fa fa-plus-square" aria-hidden="true"></i> </button>
					</form>
				</div>
				<!--card body end-->
				<div class="card-footer bg-light text-success" th:if="${message!=null}">
					[[${message}]]
				</div>
				<!--card footer end-->
			</div>
				<!--card  end-->
		</div>	
				<!--container end-->
		<script th:src="@{/myjs/uploadImgBb.js}"></script>		<!-- //script file -->		

	</body>
</html>
