<html xmlns:th="https://www.thymeleaf.org/">
	<div th:replace="fragments/commonui :: header"/>    <!--Head Section-->

	<body>
	<div th:replace="fragments/commonui :: usermenu"/>    <!--menu Section-->

		<div class="container">
			
			<div class="card">
				
				<div class="card-header bg-primary text-white text-center">
					<h3>SPECIALIZATION DATA PAGE</h3>
				</div>
				
				<div class="card-body">
					<a th:href="@{/spec/excel}" class="btn btn-success">Excel Export <i class="fa fa-file-excel-o" aria-hidden="true"></i> </a>
					<table class="table table-hover">
						<tr class="bg-info text-white">
							<th>ID</th>
							<th>CODE</th>
							<th>NAME</th>
							<th>NOTE</th>
							<th>OPERATIONS</th>
						</tr>
						<tr th:each="ob:${list}">
							<td>[[${ob.specId}]]</td>
							<td>[[${ob.specCode}]]</td>
							<td>[[${ob.specName}]]</td>
							<td>[[${ob.specNote}]]</td>
							<td>
								<a th:href="@{/spec/delete(id=${ob.specId})}" class="btn btn-danger">DELETE</a> |
								<a th:href="@{/spec/edit(id=${ob.specId})}" class="btn btn-warning">EDIT</a>
							</td>
						</tr>
					</table>
					
				</div>
				<!--card body end-->
				<div class="card-footer bg-light text-success" th:if="${message!=null}">
					[[${message}]]
				</div>
				<!--card footer end-->
			</div>
				<!--card  end-->
		</div>	
				<!--container end-->
	</body>
</html>
